@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  margin: 0px;
  font-family: 'Special Elite', cursive;
  color: white;
  background-color: black;
}

#title {
  text-align: center;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pads {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.drum-pad {
  border: 3px solid white;
  color: black;
  border-radius: 3px;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad:hover {
  opacity: 0.6;
}

#display {
  text-align: center;
}
